<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>SHIFA-HEART</title>
    
</head>
	<style>
    #main-footer
    {
      position:relative;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">SHIFA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
        
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
          
        </div>
   
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
        
  <br>
  <h3>Enter the Following parameters :</h3>
  <br>
  <form action="/result?disease=heart" method="POST">
    <label for="age">Age : </label>
    <input type="text" id="age" name="age">
    <br>

    <label for="sex">Gender : </label>
    <select id="sex" name="sex">
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
    <br>

    <label for="chest pain type">Chest pain type : </label>
    <select id="chest pain type" name="chest pain type">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>

    <label for="trestbps">Trestbps : </label>
    <input type="text" id="trestbps" name="trestbps">
    <br>

     <label for="serum cholestoral in mg/dl">Serum cholestoral in mg/dl : </label>
    <input type="text" id="serum cholestoral in mg/dl" name="serum cholestoral in mg/dl">
    <br>

    <label for="restecg">Restecg : </label>
    <select id="restecg" name="restecg">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>

    <label for="thalach">Thalach : </label>
    <input type="text" id="thalach" name="thalach">
    <br>

    <label for="exang">Exang : </label>
    <select id="exang" name="exang">
      <option value="0">False</option>
      <option value="1">True</option>
    </select>
    <br>

    <label for="oldpeak">Oldpeak : </label>
    <input type="text" id="oldpeak" name="oldpeak">
    <br>

    <label for="slope">Slope : </label>
    <select id="slope" name="slope">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <br>

    <label for="thal">Thal : </label>
    <select id="thal" name="thal">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>


    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<footer id="main-footer">
      <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> SHIFA INC</p>
    </footer>
</body>
</html>
